.catalog-more {
  text-align: center;

  @media (min-width: @tablet-width) {
    border: 2px solid @basic_grey;
  }

  @media (min-width: @desktop-width) {
    border: 2px solid @basic_grey;
  }
}

.catalog-more__title {
  .text(16px, 20px);
  .font-normal();
  color: @special_black;
  text-transform: uppercase;
}

.catalog-more__text {
  .text(12px, 16px);
  font-family: @text-font;
  color: @special_dark-grey;
}

.catalog-more__button {
  background-color: @basic_grey;
  text-transform: uppercase;
  color: @special_dark-grey;
}
