.example {
  height: 705px;
  background-color: @dark_grey;
}

.example__title {
  .text(36px, 40px);
  .font-normal();
}

.example__text {
  .text(14px; 18px);
  font-family: @text-font;
  color: @special_dark-grey;
}
