.form__wrapper {
  @media (min-width: @desktop-width) {
    min-height: 195px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 78px;
  }
}

.form__main {
  margin-bottom: -8px;

  @media (max-width: @only-mobile-width) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.form__block-wrapper {
  @media (min-width: @tablet-width) {
    padding-left: 71px;
    padding-right: 68px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__title-wrapper {
  border-top: 2px solid @basic_green;
}

.form__title {
  .text(24px, 26px);
  .font-normal();
  margin: 0;
  padding-right: 23px;
  padding-left: 20px;
  margin-left: -20px;
  position: relative;
  display: inline-block;
  background: @basic_white;
  transform: translateY(-36%);

  @media (min-width: @tablet-width) {
    .text(36px, 36px);
    padding-left: 40px;
    margin-left: 0;
    padding-right: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-left: -40px;
  }
}

.form__title--contact {
  @media (max-width: @only-mobile-width) {
    width: 181px;
  }

  @media (min-width: @tablet-width) {
    transform: translateY(-23px);
  }
}

.form__title--textarea,
.form__title--checkbox {
  transform: translateY(-62%);

  @media (min-width: @desktop-width) {
    transform: translateY(-71%);
  }
}

.form__label,
.form__control {
  .text(16px, 18px);
  color: @special_dark-grey;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .text(20px, 30px);
  }
}

.form__control {
  position: relative;
  border: 1px solid @border_color;
  padding-left: 15px;

  @media (min-width: @tablet-width) {
    padding-left: 20px;
  }
}

.form__list {
  padding-left: 0;
  margin: 0;
}

.form__row {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-bottom: 16px;
  }
}

// text + contacts

.form__control--text,
.form__control--contacts {
  width: 150px;
  height: 43px;
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    height: 52px;
  }
}

.form__control--text:required,
.form__control--contacts:required {
  border: 1px solid @border_color;
}

// text

.form__label--text {
  margin-right: 15px;
  text-align: center;
}

.form__fieldset--text {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    padding-right: 0;
    padding-left: 0;
  }
}

// contacts

.form__fieldset--contacts {
  padding-top: 0;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    padding-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.form__block-wrapper--contacts {
  padding-top: 7px;

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.form__row--contacts {
  margin-top: 7px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-top: 44px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-bottom: 43px;
    padding: 0;
  }
}

.form__row--contacts:nth-child(2) {
  margin-top: 14px;

  @media (min-width: @tablet-width) {
    margin-top: 21px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.form__control--contacts {
  position: relative;
  padding-right: 50px;
  box-sizing: border-box;
}

.form__label--contacts {
  margin-right: 10px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-right: 20px;
  }
}

.form__label--tel {
  @media (min-width: @tablet-width) {
    margin-right: 16px;
  }
}

.form__img--email {
  position: absolute;
  width: 20px;
  height: 14px;
  right: 15px;

  @media (min-width: @tablet-width) {
    right: 20px;
  }
}

.form__img--tel {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 15px;

  @media (min-width: @tablet-width) {
    right: 20px;
  }
}

// radio

.form__list--radio {
  padding-top: 25px;
  padding-left: 20px;
  margin-bottom: 50px;
  border-top: 1px solid @border_info;
  border-bottom: 1px solid @border_info;
  color: @special_dark-grey-2;

  @media (min-width: @tablet-width) {
    padding-right: 0;
    padding-left: 22px;
    padding-top: 30px;
    padding-bottom: 5px;
    margin-top: 38px;
    margin-bottom: 103px;
    border: 1px solid @border_color;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.form__row--radio {
  padding-left: 46px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    padding-left: 47px;
    margin-bottom: 23px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 46px;
  }
}

.form__control--radio {
  padding-left: 0;

  &:checked + .form__label--radio::after {
    content: "";
    display: block;
    width: 13.5px;
    height: 13.5px;
    position: absolute;
    left: -37px;
    bottom: 3px;
    background-color: @basic_green;
    border-radius: 50%;

    @media (min-width: @tablet-width) {
      width: 18px;
      height: 18px;
      left: -29px;
      bottom: 7px;
    }
  }
}

.form__label--radio {
  display: block;
  user-select: none;
  cursor: pointer;
  position: relative;

  @media (min-width: @tablet-width) {
    padding-left: 19px;
  }

  &::before {
    width: 30px;
    height: 30px;
    border: 1px solid @line_color;
    border-radius: 50%;
    background-color: @basic_white;
    position: absolute;
    content: "";
    left: -46px;
    top: -8px;

    @media (min-width: @tablet-width) {
      width: 40px;
      height: 40px;
      left: -41px;
      top: -7px;
    }
  }
}

// textarea

.form__control--textarea {
  width: 100%;
  height: 150px;
  border: 1px solid @border_color;
  resize: none;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 39px;
  padding-top: 12px;

  @media (min-width: @tablet-width) {
    height: 174px;
    margin-top: 51px;
    margin-bottom: 84px;
    padding-top: 10px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 47px;
    margin-bottom: 85px;
  }
}

// checkbox

.form__block-wrapper--checkbox {
  margin-top: 22px;

  @media (min-width: @tablet-width) {
    margin-top: 37px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 39px;
  }
}

.form__list--checkbox {
  margin-bottom: 41px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 23px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 25px;
  }
}

.form__row--checkbox {
  color: @basic_black;
  margin-bottom: 24px;
  padding-left: 27px;

  @media (min-width: @tablet-width) {
    margin-right: 98px;
    width: 187px;
    margin-bottom: 39px;
    padding-left: 59px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
    margin-right: 80px;
    width: 183px;
    padding-left: 61px;
  }
}

.form__row--checkbox:nth-child(2n) {
  @media (max-width: @tablet-width) {
    margin-right: 0;
  }
}

.form__row--checkbox:nth-child(4n) {
  @media (min-width: @desktop-width) {
    margin-right: 0;
  }
}

.form__control--checkbox {
  padding-left: 0;
  border: 0;
  position: absolute;

  &:checked + .form__label--checkbox::after {
    content: "";
    display: block;
    width: 16px;
    height: 14px;
    position: absolute;
    left: -37px;
    bottom: 3px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' fill='%2368B738' viewBox='0 0 21.1 15.5' style='enable-background:new 0 0 21.1 15.5;' xml:space='preserve'%3E%3Cpolygon points='20.1,0 7.7,13.3 1,6.1 0,7.2 7.6,15.4 7.7,15.5 21,1.2 21.1,1.1 '/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      left: -48px;
      bottom: 10px;
    }

    @media (min-width: @desktop-width) {
      left: -48px;
    }
  }
}

.form__label--checkbox {
  display: block;
  user-select: none;
  cursor: pointer;
  position: relative;

  &::before {
    width: 30px;
    height: 30px;
    border: 1px solid @line_color;
    background-color: @basic_white;
    position: absolute;
    content: "";
    left: -48px;
    top: -8px;

    @media (min-width: @tablet-width) {
      width: 40px;
      height: 40px;
      left: -61px;
      top: -8px;
    }
  }
}

// button

.form__button {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 82px;
  }
}

.form__button__submit {
  border: none;
  padding-top: 3px;

  @media (min-width: @tablet-width) {
    width: 282px;
    height: 52px;
    font-size: 20px;
    margin-left: 41px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    margin-left: 0;
  }
}

.form__button__text {
  display: block;
  .text(14px, 16px);
  font-family: @text-font;
  text-align: center;
  margin-top: 21px;

  @media (min-width: @tablet-width) {
    .text(16px, 16px);
    text-align: start;
    margin-left: 31px;
    margin-top: 16px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 40px;
    margin-top: 18px;
  }
}

// effects

.form__control--contacts:focus ~ svg {
  fill: @basic_green;
}

.form__control--contacts:invalid ~ svg {
  fill: @error_color;
}

.form__control--text:hover,
.form__control--contacts:hover {
  border-color: @line_color;
}

.form__control--text:focus,
.form__control--contacts:focus {
  border-color: @special_dark-grey;
  box-shadow: 0 0 1px @special_dark-grey;
}

.form__control--text:invalid:not([name="age"]),
.form__control--contacts:invalid {
  border: 2px solid @error_color;
}

.form__label--checkbox:hover::before,
.form__label--radio:hover::before {
  border-color: @checkbox-radio_color;
}

.form__label--checkbox:active,
.form__label--radio:active {
  opacity: 0.3;
}

.form__control:focus + .form__label::before,
.form__control:focus + .form__label::after {
  outline: thin dotted;
  outline-offset: -2px;
}
