.gift {
  height: 363px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: @tablet-width) {
    height: 345px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.gift__text {
  .text(16px, 20px);
  font-family: @text-font;
  color: @basic_white;
  text-align: center;
}
