.info {
  width: 320px;
  height: 480px;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  color: @basic_white;
}

.info__header {
  .text(36px, 36px);
}

.info__slogan {
  .text(14px, 14px);
  text-transform: uppercase;
}
