.info-footer {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 150px;
    box-sizing: border-box;
    background-color: @basic_grey;
  }

  @media (min-width: @desktop-width) {
    min-height: 149px;
  }
}
