.page {
  .text(16px, 20px);
  height: 100%;
  font-family: @main-font;
  color: @basic_black;
  background-color: @basic_white;
  margin: 0;
}

.page__index::before {
  @media (min-width: @desktop-width) {
    position: absolute;
    content: "";
    height: 696px;
    width: 100%;
    top: 0;
    left: 0;
    background: url("../img/index-background-desktop@1x.jpg") right top no-repeat, linear-gradient(to right, transparent 50%, @background_color 50%);
  }

  @media (min-resolution: 2dppx) {
    background: url("../img/index-background-desktop@2x.jpg") 720px auto right top no-repeat, linear-gradient(to right, transparent 50%, @background_color 50%);
  }
}

.page__form .page__title {
  border: none;
  padding-bottom: 0;
  padding-top: 30px;

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.page__title {
  .text(36px, 36px);
  .font-normal();
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid @border_info;
  border-bottom: 1px solid @border_info;
  padding-top: 27px;
  padding-bottom: 41px;

  @media (min-width: @tablet-width) {
    .text(60px, 60px);
    border: none;
    margin-top: 61px;
    margin-bottom: 86px;
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.page__text {
  .text(14px; 18px);
  .font-normal();
  color: @basic_black;
  text-transform: uppercase;
  padding-right: 50px;
  margin-top: 37px;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    .text(20px, 30px);
    padding-right: 345px;
    padding-left: 39px;
    margin-top: 54px;
    margin-bottom: 56px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 840px;
    padding-left: 0;
    margin-top: 56px;
  }
}

.page__form .page__text {
  @media (min-width: @tablet-width) {
    margin-bottom: 63px;
  }
}

.page__header {
  .text(20px; 20px);
  min-height: 66px;

  @media (min-width: @tablet-width) {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    min-height: 187px;
  }

  @media (max-width: @only-mobile-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.page__logo {
  height: 66px;

  @media (max-width: @only-mobile-width) {
    padding-left: 20px;
  }

  @media (min-width: @tablet-width) {
    height: 52px;
    padding-top: 24px;
  }

  @media (min-width: @desktop-width) {
    height: 59px;
    padding-top: 53px;
    margin-right: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.6;
  }
}

.page__logo img {
  width: 190px;
  height: 66px;

  @media (min-width: @tablet-width) {
    width: 172px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.page__footer {
  min-height: 712px;
  background-color: @basic_grey;

  @media (min-width: @tablet-width) {
    min-height: 635px;
    background-color: @basic_white;
  }

  @media (min-width: @desktop-width) {
    min-height: 549px;
    position: relative;
    background-color: @basic_grey;
  }
}
