.programs {
  height: 600px;

  @media (min-width: @tablet-width) {
    height: 372px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.programs__slim {
  margin-right: 80px;
}

.programs__slim,
.programs__pro {
  background-color: @basic_grey;
}

.programs__title {
  .text(24px; 37px);
  .font-normal();
  text-transform: uppercase;
}

.programs__text {
  .text(14px; 18px);
  font-family: @text-font;
  color: @special_dark-grey;
}

.programs__button {
  .text(16px; 16px);
  .font-normal();
  text-transform: uppercase;
  text-decoration: none;
  color: @basic_black;
}
