.relatived-card {
  border-bottom: 1px solid @line_color;

  @media (min-width: @tablet-width) {
    border: 1px solid @line_color;
    border-bottom: none;
  }

  @media (min-width: @desktop-width) {
    border-top: 1px solid @line_color;
  }
}

.relatived-card:nth-child(1) {
  border-top: 1px solid @line_color;
}

.relatived-card:nth-child(4) {
  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @line_color;
  }
}

.relatived-card__text {
  padding-top: 13px;
  padding-bottom: 19px;

  @media (min-width: @tablet-width) {
    padding-top: 26px;
    padding-bottom: 28px;
    padding-left: 37px;
    padding-right: 37px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 0;
    padding-left: 0;
  }
}

.relatived-card__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.relatived-card__title {
  .text(16px, 16px);
  .font-normal();
  color: @special_dark-grey-2;
  text-transform: uppercase;
  display: block;
  width: 100%;
  padding-bottom: 13px;

  @media (min-width: @tablet-width) {
    width: 280px;
  }
}

.relatived-card__unit,
.relatived-card__price {
  .text(14px, 14px);
  font-family: @text-font;
  color: @special_dark-grey;
  margin: 0;
  padding-bottom: 15px;
}

.relatived-card__unit {
  @media (min-width: @desktop-width) {
    width: 244px;
  }
}

.relatived-products__button {
  width: 100%;

  @media (min-width: @desktop-width) {
    width: 244px;
    margin: 0;
  }
}
