.relatived-products {
  min-height: 966px;

  @media (min-width: @tablet-width) {
    min-height: 981px;
  }

  @media (min-width: @desktop-width) {
    min-height: 455px;
  }
}

.relatived-products__title {
  .text(24px, 24px);
  .font-normal();
  margin-top: 28px;
  margin-bottom: 35px;
}

.relatived-products__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    height: 455px;
  }
}

.relatived-products__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
