.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-bottom: 18px;
  padding-left: 72px;
  border-bottom: 1px solid @border_info;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-top: 55px;
    padding-bottom: 57px;
    padding-left: 47px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    padding-top: 58px;
    padding-bottom: 0;
    padding-left: 135px;
  }
}

.socials__item {
  list-style: none;
}

.socials__link {
  vertical-align: middle;
}

.socials__link--vk svg {
  width: 23px;
  height: 16px;
  margin-right: 36px;

  @media (min-width: @tablet-width) {
    width: 30px;
    height: 22px;
    margin-right: 27px;
    padding-top: 4px;
  }
}

.socials__link--instagram svg {
  width: 16px;
  height: 16px;
  margin-right: 34px;

  @media (min-width: @tablet-width) {
    width: 23px;
    height: 23px;
    margin-right: 29px;
    padding-top: 4px;
  }
}

.socials__link--facebook svg {
  width: 22px;
  height: 22px;
  margin-right: 34px;

  @media (min-width: @tablet-width) {
    width: 13px;
    height: 27px;
  }
}

.socials__link svg {
  fill: @footer_color;
}

.socials__link:hover svg {
  fill: @basic_green;
}

.socials__link:active svg {
  fill: @basic_green;
  opacity: 0.3;
}
