.stats {
  @media (min-width: @tablet-width) {
    margin-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.stats__info {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.stats__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;

  @media (min-width: @tablet-width) {
    justify-content: flex-start;
  }
}

.stats__item {
  width: 124px;
  height: 64px;
  text-align: center;
  border: 1px solid @line_color;
  border-radius: 5%;

  @media (min-width: @tablet-width) {
    width: 162px;
  }
}

.stats__item:nth-child(2) {
  margin-left: 42px;
}

.stats__number {
  .text(24px, 24px);
  .font-normal();
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 7px;

  @media (min-width: @tablet-width) {
    padding-bottom: 19px;
  }
}

.stats__text {
  .text(12px, 12px);
  margin: auto;
  font-family: @text-font;
  color: @special_dark-grey;
  text-transform: lowercase;
  width: 77px;
  background-color: @dark_grey;

  @media (min-width: @tablet-width) {
    width: 120px;
    background-color: @basic_white;
  }
}

.stats__sum {
  .text(14px, 20px);
  text-transform: uppercase;
  text-align: center;
  margin-top: 23px;
  margin-bottom: 42px;

  @media (min-width: @tablet-width) {
    .text(20px, 20px);
    margin: 0;
    padding-left: 60px;
    text-align: end;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
    text-align: start;
    margin-top: 75px;
    margin-bottom: 55px;
  }
}

.stats__total {
  margin: 0;
}
