.stats__number {
  .text(24px, 24px);
  .font-normal();
}

.stats__text {
  .text(12px, 12px);
  font-family: @text-font;
  color: @special_dark-grey;
}

.stats__sum {
  .text(14px, 20px);
  text-transform: uppercase;
}
