// colors
@basic_green: #68B738;
@basic_white: #FFFFFF;
@basic_black: #000000;
@special_dark-grey: #444444;
@basic_grey: #F2F2F2;
@dark_grey: #EAEAEA;
@special_black: #111111;
@special_dark-grey-2: #222222;

// fonts
@main-font:"Oswald", "Arial", sans-serif;
@text-font:"Arial", sans-serif;

// Viewports
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1300px;
